* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-dark-grey: hsl(0, 0%, 8%);
    --main-mid-grey: hsl(0, 0%, 12%);
    --main-light-grey: hsl(0, 0%, 20%);

    --main-green: hsl(75, 94%, 57%);
    --main-white: hsl(0, 0%, 100%);
}

body {
    font-family: Inter, sans-serif;
    font-size: 18px;
    background-color: var(--main-dark-grey);
    color: var(--main-white);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    max-width: 375px;
    width: 90%;
    background-color: var(--main-mid-grey);
    border: 1px solid var(--main-mid-grey);
    border-radius: 13px;
}

.container img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: 25px auto;
    display: block;
}

.main-section {
    margin-bottom: 20px;
}

.main-section .title {
    margin-bottom: 10px;
}

.location {
    color: var(--main-green);
}

.socials {
    margin-bottom: 25px;
}

.social-link {
    display: block;
    color: var(--main-white);
    text-decoration: none;
    padding: 10px;
    background-color: var(--main-light-grey);
    margin: 15px;
    border-radius: 7px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.social-link:hover {
    background-color: var(--main-green);
    color: var(--main-dark-grey);
}

p {
    font-size: 14px;
}